<div class="jumbotron">
  <h1 class="display-4">Admin section</h1>
  <hr>
    <a class="btn btn-primary btn-md mt-4" href="/admin/categories" role="button">Category List</a>
    <a class="btn btn-primary btn-md mt-4 ml-2" href="/admin/posts" role="button">Posts List</a>
    <a class="btn btn-primary btn-md mt-4 ml-2" href="/admin/users" role="button">Users List</a>
  </p>
</div>